extends layout.pug
block content
    div(id="formcontainer")
        form 
            input(type="text" placeholder="Location")
            button(id="searchbutton") Search 
    div(id="textcontainer")
        p(id="paragraph_1")
        p(id="paragraph_2")